/* font-family: "Formular-Regular"; */
@font-face {
    font-family: "Formular";
    src: url("../fonts/Formular-Regular.otf");
    // src: url("../fonts/Formular-Regular.eot?#iefix")format("embedded-opentype"),
    // url("../fonts/Formular-Regular.woff") format("woff"),
    // url("../fonts/Formular-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Formular-Medium"; */
@font-face {
    font-family: "Formular-Medium";
    src: url("../fonts/Formular-Medium.otf");
    // src: url("../fonts/Formular-Medium.eot?#iefix")format("embedded-opentype"),
    // url("../fonts/Formular-Medium.woff") format("woff"),
    // url("../fonts/Formular-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Formular-Light"; */
@font-face {
    font-family: "Formular-Light";
    src: url("../fonts/Formular-Light.otf");
    // src: url("../fonts/Formular-Light.eot?#iefix")format("embedded-opentype"),
    // url("../fonts/Formular-Light.woff") format("woff"),
    // url("../fonts/Formular-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Formular-Bold"; */
@font-face {
    font-family: "Formular-Bold";
    src: url("../fonts/Formular-Bold.otf");
    // src: url("../fonts/Formular-Bold.eot?#iefix")format("embedded-opentype"),
    // url("../fonts/Formular-Bold.woff") format("woff"),
    // url("../fonts/Formular-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "FuturaDemiC"; */
@font-face {
    font-family: "FuturaDemiC";
    src: url("../fonts/futurademic.otf");
    // src: url("../fonts/Formular-Bold.eot?#iefix")format("embedded-opentype"),
    // url("../fonts/Formular-Bold.woff") format("woff"),
    // url("../fonts/Formular-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@media (min-width: 1200px) and (max-width: 1500px){
	.container{
		width: 1170px;
		padding: 0 10px; 
	}
}


@bg-color: #f8f7f5;
@prime-color: #e5711d;
@black: #000;
@font: "Formular", Helvetica, Arial, sans-serif;
@font-bold: "Formular-Bold";
@font-medium: "Formular-Medium";
@font-light: "Formular-Light";
@font-head: "FuturaDemiC";
@body-fz: 15px;
@head-fz: 88px;
@tiny-fz: 12px;
@text-page-bold: 20px;
@text-page-normal: 15px;
@nav-links-fz: 17px;

/*md*/
@head-md-fz: 70px;
@body-md-fz: 14px;
/*sm*/
@head-sm-fz: 56px;
@body-sm-fz: 13px;
@tiny-sm-fz: 10.5px;
/*tb*/
@head-tb-fz: 36px;
@body-tb-fz: 11px;

.md(@rules) {
  @media (max-width: 1500px) { 
  	@rules();
  }
}
.sm(@rules){
  @media (max-width: 1200px) { 
  	@rules();
  }
}
.tb(@tablet-rules){
  @media (max-width: 992px) { 
  	@tablet-rules();
  }
}
.xs(@rules){
  @media (max-width: 768px) { 
  	@rules();
  }
};





h2{
	font-family: @font-head;
	font-size: @head-fz;
	text-align: center;
	.md({
		font-size: @head-md-fz;
	});
	.sm({
		font-size: @head-sm-fz;
	});
	.xs({
		font-size: @head-tb-fz;
	});
}
.small-text{
	color: fade(#000, 50%);
	font-size: @tiny-fz;
	.sm({
		font-size: @tiny-sm-fz;
	});
}
body{
	font-family: @font;
	font-size: 15px;
	color: @black;
}
input:focus{
	outline: none;
}
.input-prime(@width){
	border: 3px solid @prime-color;
	font-size: 15px;
	height: 52px;
	border-radius: 26px;
	width: @width;
}
.logo{
	font-size: 41.6px;
	font-family: @font-bold;
	padding: 5px 15px;
	margin-right: 45px;
	b{
		display: inline-block;
		vertical-align: middle;
	}
	i{
		font-style: normal;
		color: @prime-color;
	}
	span{
		font-size: 13px;
		color: fade(@black, 60%);
		display: inline-block;
		vertical-align: middle;
		font-family: @font-light;
	}
	.md({
		font-size: 35px;
		margin-right: 20px;
		span{
			font-size: 11.5px;
		}
	});
	.sm({
		position: absolute;
		top: -55px;
	});
	.xs({
		position: static;
		height: auto;
		margin-right: -15px;
		padding-left: 0;
		font-size: 28px;
		span{
			font-size: 11px;
			line-height: 1.3;
		}
	});
}
.links-nav{
	li{
		padding: 15px 0;
		&+li{
			margin-left: 45px;
		}
	}
	a{
		font-size: @nav-links-fz;
		padding: 0;
		font-weight: 600;
		border-bottom: 1px solid @prime-color;
		transition: border-bottom 0.2s;
		&:hover{
			border-bottom-color: transparent;
		}
	}
	.md({
		a{
			font-size: 15px;
		}
		li{
			+li{
				margin-left: 25px;
			}
		}
	});
	.sm({
		li{
			padding: 10px 0;
		}
	});
	.tb({
		li+li{
			margin-left: 20px;
		}
	});
	.xs({
		margin: 0;
		float: none !important;
		li{
			display: block;
			text-align: center;
			padding: 5px 0;
			a{
				display: inline-block;
				padding: 0;
			}
			&+li{
				margin-left: 0 !important;
			}
		}
	});
}
.tags{
	text-align: center;
	margin-bottom: 45px;
	li{
		display: inline-block;
		line-height: 1;
		a{
			display: inline-block;
			border-bottom: 1px solid fade(@prime-color, 70%);
			color: @prime-color;
			&:hover{
				text-decoration: none;
				border-bottom: none;
			}
		}
		& + li{
			margin-left: 16px;
		}
	}
	.md({
		margin-bottom: 35px;
	});
	.xs({
		li{
			font-size: 11px;
			&+li{
				margin-left: 7px;
			}
		}
	});
}
.cart-href{
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background-color: @prime-color;
	background-image: url("../img/cart-ico-white.png");
	background-size: 22px;
	background-position: center 10px;
	background-repeat: no-repeat;
	transition: background 0.2s;
	.sm({
		height: 40px;
		width: 40px;
		background-size: 19px;
		background-position: 10px 8px;
	});
	&:hover{
		background-color: darken(@prime-color, 15%);
	}
}
.price{
	font-size: 17px;
	font-family: @font-medium;
	.md({
		font-size: 15px;
	});
	.tb({
		font-size: 13px;
	});
}
.price.old{
	color: #898989;
	text-decoration: line-through;
}

.breadcrumb{
	background-color: transparent;
	margin-bottom: 10px;
	font-size: 12px;
	font-family: @font-medium;
	a{
		color: @prime-color;
		text-decoration: underline;
	}
	>li+li:before{
		content: ">";
		color: @prime-color;
		padding: 0 7.5px 0 7px;

	}
	.xs({
		padding: 5px 0;
		font-size: 9px;
		>li+li:before{
			padding: 0 4px;
		}
	});
}
.pagination-wrap{
	text-align: center;
	li a{
		width: 52px;
		height: 52px;
		padding: 0;
		text-align: center;
		line-height: 48px;
		border-radius: 26px !important;
		margin: 0 3px;
		border: 3px solid #eaeaea;
		color: #000;
		&:hover{
			background-color: #fff;
			color: #000;
		}
	}
	li.active a, li.active a:hover{
		background-color: #fff;
		border-color: @prime-color;
		color: #000;
	}
	.xs({
		li a{
			width: 40px;
			height: 40px;
			line-height: 34px;
		}
	});
}
.selectize-control{
	.selectize-input{
		display: inline-block;
		width: 198px;
		border: 3px solid @prime-color;
		height: 52px;
		border-radius: 26px;
		padding: 0 15px;
		line-height: 45px;
		.item{
			width: auto;
			border: none;
		}
	}
	.selectize-dropdown, .selectize-input, .selectize-input input{
		font-size: 15px;
	}
	.active{
		color: #000;
	}
	&.single .selectize-input.dropdown-active:after{
		content:"\e260";
		border: none;
	}
	&.single .selectize-input:after{
		font-family: "Glyphicons Halflings";
		content:"\e259";
		border: none;
		width: auto;
		height: auto;
		top: 12%;
	}
	.sm({
		.selectize-input{
			height: 42px;
			line-height: 35px;
			width: 150px;
		}
		.selectize-dropdown, .selectize-input, .selectize-input input{
			font-size: 11px;
			padding: 0 10px;
		}
	});
}
.buttons{
	width: 1370px;
	position: absolute;
	margin: 0 auto;
	right: 0;
	left: 0;
	button{
		width: 65px;
		height: 65px;
		border-radius: 32px;
		border: none;
		vertical-align: top;
		position: relative;
		z-index: 2;
	}
	.menu{
		float: left;
		line-height: 0;
		background-color: @prime-color;
		padding-top: 8px;
		span{
			display: inline-block;
			width: 32px;
			height: 2px;
			// font-size: 0;
			background-color: #fff;
			margin-bottom: 5px;
		}
	}
	.cart{
		float: right;
		background-color: #e5dd00;
		color: @prime-color;
		img{
			width: 32px;
		}
		span{
			position: absolute;
			margin: auto;
			top: 26px;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	.md({
		width: 1100px;
	});
	.sm({
		width: 886px;
	});
	.tb({
		position: static;
		width: auto;
		padding: 0 15px;
		margin-bottom: 15px;
		margin-top: -5px;
		button{
			width: 52px;
			height: 52px;
		}
		.cart{
			img{
				width: 25px;
			}
			span{
				top: 20px;
			}
		}
		.menu{
			span{
				width: 28px;
			}
		}
		&:after{
			content: " ";
			display: block;
			clear: both;
		}
	});
}
.navbar-toggle{
	border-color: @prime-color !important;
	margin: 0;
	height: 34px;
	padding: 9px 8px;
	span{
		background-color: @prime-color !important;
		transition: transform 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
	}
	&:not(.collapsed){
		span:nth-child(2){
			transform: rotateZ(45deg) translateY(2px) translateX(2px);
		}
		span:nth-child(3){
			transform: rotateZ(315deg) translateY(-2px) translateX(2px);
		}
		span:last-child{
			display: none;
		}
	}	
}
.cat-top{
	text-align: center;
	position: relative;
	margin: 0 auto;
	p{
		margin: 15px auto 18px;
		max-width: 700px;
	}
	.md({
		font-size: @body-md-fz;
		p{
			max-width: 500px;
		}
	});
	.xs({
		font-size: @body-tb-fz;
	});
}
.item{
	width: 280px;
	float: left;
	border: 1px solid #ebebeb;
	transition: box-shadow 0.5s;
	& + .item{
		margin-left: 15px;
	}
	&:hover{
		-webkit-box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.25);
		box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.25);
	}
	.img-wrap{
		position: relative;
		height: 340px;
		img{
			width: 100%;
		}
	}
	.cart-href{
		.cart-href();
		position: absolute;
		bottom: -24px;
		right: 20px;
	}
	.text-wrap{
		padding: 20px 65px 10px 28px;
		p{
			font-size: 12px;
			color: @prime-color;
			margin: 5px 0 0 -4px;
			height: 35px;
		}
	}
	.md({
		width: 223px;
		.img-wrap{
			height: 270px;
		}
		.cart-href{
			right: 10px;
			bottom: -10px;
		}
		.text-wrap{
			padding: 10px 40px 10px 20px;
		}
	});
}


.prod-spec{
	margin-top: 35px;
	font-size: 12px;
	li{
		overflow: hidden;
		margin-bottom: 15px;
	}		
	.spec-left{
		opacity: 0.5;
	}
}





button{
	outline:none;
}
ul{
	list-style: none;
	padding-left: 0;
}
b{
	font-weight: normal;
}
header{
	background-color: @bg-color;
	.navbar-default{
		background-color: @bg-color;
		.container{
			margin-left: -15px;
		}
	}
	.head-1{
		padding: 15px 0 25px;
		li, a{
			display: inline-block;
			padding: 0;
			.small-text();
		}
		span{
			margin-right: 20px;
		}
	}
	.navbar-brand{
		.logo();
	}
	.links{
		.links-nav();
	}
	.navbar-form{
		margin-left: 25px;
		padding-right: 5px;
		position: relative;
		input.form-control{
			opacity: 0;
			width: 1000px;
			height: 54px;
			border: none;
			border-radius: 27px;
			position: absolute;
			right: 0;
			top: -15px;
			box-shadow: none;
			padding: 0 18px 0 38px;
			z-index: -1;
			transition: all 0.4s;
			&:hover{
				z-index: 1;
				opacity: 1;
			}
		}
		button.head-search{
			background-color: transparent;
			border: none;
			position: relative;
			font-size: 20px;
			z-index: 2;
			&:hover + div input.form-control{
				opacity: 1;
				z-index: 1;
			}
		}
	}
	.navbar-right{
		margin-right: -15px;
		a{
			padding: 0;
			display: inline-block;
			color: @prime-color;
			font-size: @body-fz;
			margin-top: 8px;
			span{
				display: inline-block;
				margin: -15px 0 0 5px;
				position: relative;
				height: 51px;
				width: 41px;
				line-height: 60px;
				text-align: center;
				font-weight: 600;
				color: @prime-color;
				font-size: 16px;
				img{
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
	.md({
		.navbar-form{
			margin-left: 10px;
			input.form-control{
				width: 780px;
				height: 48px;
				top: -10px;
			}
		}
		.navbar-right{
			a{
				padding-top: 2px;
				span{
					width: 30px;
					height: 38px;
					font-size: 14px;
					img{
						width: 100%;
						top: 8px;
					}
				}
			}
		}
	});
	.sm({
		.navbar-default{
			min-height: 50px;
			margin-bottom: 10px;
		}
		.navbar-form{
			margin: 9px 15px;
		}
		.navbar-brand{
			margin-left: 0 !important;
		}
	});
	.tb({
		.navbar-default{
			margin-bottom: 20px;
			.container{
				width: auto;
			}
		}
		.navbar-collapse{
			padding: 0;
		}
		.navbar-form{
			margin: 9px 0px;
			padding: 0;
			margin: 0;
			position: relative;
			input.form-control{
				width: 540px;
				display: block;
				opacity: 1;
				position: static;
				z-index: 1
			}
			button.head-search{
				position: absolute;
				right: 10px;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
		.links{
			margin-bottom: 10px;
		}	
	});
	.xs({
		.head-1{
			padding: 10px 0;
			float: none !important;
			li{
				display: block;
			}
			span{
				display: block;
			}
		}
		.navbar-header{
			margin: 0 0 10px !important;
		}
		.navbar-default{
			min-height: auto;
		}
		.navbar-form{
			padding: 0 15px;
			input.form-control{
				width: 100%;
			}
			button.head-search{
				right: 25px;
				top: 4px;
			}
		}
		.navbar-right{
			margin: 0;
			padding: 0px 15px 20px;
			text-align: center;
		}
	});
}

footer{
	position: relative;
	padding: 40px 0;
	border-top: 1px solid #000;
	a, a:hover{
		color: @black;
	}
	.navbar-brand{
		.logo();
	}
	.links{
		float: right;
		.links-nav();
		li + li{
			margin-left: 40px;
		}
	}
	.foot-bot{
		margin-top: 25px;
		p{
			.small-text();
			max-width: 430px;
			float: left;
		}
		div{
			width: 835px;
			float: right;
			margin-right: 53px;
			ul{
				list-style: none;
				font-size: 12px;
				font-weight: bold;
			}
		}
	}
	.collapse{
		padding: 0;
	}
	.md({
		.links{
			li+li{
				margin-left: 25px;
			}
		}
		.foot-bot{
			margin-top: 15px;
			p{
				max-width: 350px;
			}
			div{
				width: 700px;
				margin-right: 12px;
			}
		}
	});
	.sm({
		.navbar-brand{
			position: static;
		}
		.links{
			float: left;
			li+li{
				margin-left: 35px;
			}
		}
		.foot-bot{
			p{
				max-width: 280px;
			}
			div{
				width: 640px;
			}
		}
	});
	.tb({
		.links{
			li+li{
				margin-left: 20px;
			}
		}
		.foot-bot{
			div{
				float: none;
				margin-bottom: 15px;
				margin-left: -15px;
				overflow: hidden;
			}
			&:after{
				content: " ";
				display: block;
				clear: both;
			}
		}
	});
	.xs({
		.foot-bot{
			div{
				width: auto;
				float: none;
			}
			p{
				float: none;
			}
		}
	});
}


.i1{
	background-color: @bg-color;
	.slick-dots{
		text-align: center;
		position: absolute;
		width: 100%;
		bottom: 5px;
		li{
			display: inline-block;
			font-size: 0;
			margin: 7px;
			&.slick-active button{
				background-color: @prime-color;
			}
		}
		button{
			border: none;
			background-color: #fff;
			width: 16px;
			height: 16px;
			border-radius: 8px;
		}
	}
	.slide{
		color: #fff;
		position: relative;
		.text-box{
			position: absolute;
			top: 205px;
			left: 100px;
			transition: left 0.5s;
		}
		.text-box.animatedScale{
			left: 0px;
		}
		hr{
			width: 115px;
			height: 4px;
			border: none;
			background-color: #fff;
			margin-bottom: 35px;
			margin-left: 0;
			
		}
		h2{
			font-size: @head-fz;
			font-family: "FuturaDemiC";
			text-align: left;
			text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
		}
		p{
			font-size: @body-fz;
			max-width: 550px;
			margin-bottom: 40px;
			text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
		}
		a{
			display: inline-block;
			transition: background-color 0.4s;
			width: 150px;
			height: 48px;
			background-color: @prime-color;
			font-size: 17px;
			font-weight: 600;
			text-align: center;
			line-height: 48px;
			color: #fff;
			border-radius: 24px;
			&:hover{
				text-decoration: none;
				background-color: darken(@prime-color, 15%);
			}
		}
		img{
			transform: scale(1);
			transform-origin: center center;
			transition: transform 0.3s;
		}
		img.animatedScale{
			transform: scale(1.2);
		}
	}
	.md({
		.slide{
			hr{
				margin-bottom: 25px;
			}
			h2{
				font-size: @head-md-fz;
			}
			p{
				font-size: @body-md-fz;
				margin-bottom: 30px;
			}
			a{
				font-size: 16px;
				height: 40px;
				width: 120px;
				line-height: 40px;
			}
		}
	});
	.sm({
		.slide{
			.text-box{
				top: 80px;
				left: 40px;
			}
			img{
				width: 100%;
			}
			h2{
				font-size: @head-sm-fz;
				margin-left: 0;
			}
			p{
				font-size: @body-sm-fz;
				max-width: 400px;
			}
		}
	});
	.tb({
		.slide{
			.text-box{
				top: auto;
				bottom: 35px;
			}
			p{
				margin-bottom: 15px;
				font-size: @body-tb-fz;
			}
			hr{
				margin-bottom: 0;
			}
			h2{
				margin-top: 10px;
				font-size: @head-tb-fz;
			}
			a{
				height: 25px;
				line-height: 25px;
				font-size: 14px;
			}
		}
	});
	.xs({
		.container{
			padding: 0;
		}
		.slide{
			img{
				min-width: 480px;
				width: 100%;
			}
			.text-box{
				left: 15px;
			}
			p{
				font-size: 10.5px;
				margin-bottom: 10px;
			}
			hr{
				height: 2px;
			}
			h2{
				font-size: 22px;
				margin: 5px 0;
			}
			a{
				width: auto;
				padding: 0 5px;
				font-size: 12px;
				height: 20px;
				line-height: 20px;
			}

		}
		.slick-dots{
			margin-bottom: 0;
			li{
				margin: 4px;
			}
			button{
				width: 12px;
				height: 12px;
			}
		}
	});
}


.i2{
	background-color: #f8f7f5;
	.row{
		margin: 0;
	}
	.col-md-6{
		padding: 0;
	}
	.i2-wrap{
		padding: 75px 0 100px;
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 69%, rgba(248,247,245,1) 0%, rgba(248,247,245,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 69%,rgba(248,247,245,1) 0%,rgba(248,247,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 69%,rgba(248,247,245,1) 0%,rgba(248,247,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f7f5',GradientType=0 )";
		transition: top 0.1s opacity 0.1s;
		position: relative;
	}
	.left-top{
		width: 470px;
		margin-bottom: 65px;
		margin-left: 65px;
		p{
			font-size: @body-fz;
			margin-top: 13px;
			margin-bottom: 15px;
			line-height: 1.7;
		}
		form{
			position: relative;
			input{
				width: 100%;
				height: 53px;
				border: 3px solid @prime-color;
				border-radius: 27px;
				font-size: @body-fz;
				padding: 0 27px;
				&:focus{
					box-shadow: none;
				}
				transition: box-shadow 0.5s;
				-webkit-box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
				-moz-box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
				box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
			}
			button.head-search{
				background-color: transparent;
				border: none;
				position: absolute;
				right: 20px;
				top: 14px;
				font-size: 20px;
				z-index: 2;
			}
			&:hover input{
				-webkit-box-shadow: 0px 0px 25px 0 rgba(0,0,0,0.25);
				-moz-box-shadow: 0px 0px 25px 0 rgba(0,0,0,0.25);
				box-shadow: 0px 0px 25px 0 rgba(0,0,0,0.25);
			}
		}
	}
	/*i2-animations*/
	.i2-item{
		position: relative;
	}
	.i2-item-wrap{
		transform: scale(1);
		position: absolute;
		transition: transform 0.3s;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.i2-item-wrap.animateBigger{
		transform: scale(1.2);
	}


	h2{
		color: @prime-color;
		text-align: left;
		margin-top: 0;
		line-height: 0.8;
	}
	.i2-left{
		text-align: right;
		font-size: 0;
	}
	.i2-right{
		float: right;
	}
	.i2-left .i2-item{
		display: inline-block;
		text-align: left;
		font-size: 12px;
	}

	.i2-item{
		background-repeat: no-repeat !important;
		position: relative;
		.i2-item-wrap{
			padding: 40px 33px;
		}
		h2{
			display: inline-block;
			font-size: 36px;
			margin: 0;
			position: relative;
			z-index: 2;
			line-height: 1.1;
			border-bottom: 2px solid @prime-color;
		}
		.img-wrap{
			position: absolute;
			bottom: 0;
			right: 0;
			img{				
				transform: scale(1);
				transition: transform 0.5s;
			}
		}
		.price{
			color: #000;
			margin-right: 7px;
			&.old{
				color: #898989;
			}
		}
		.i2-item-bot{
			width: 200px;
			position: absolute;
			z-index: 2;
			bottom: 35px;
			.prod-name{
				display: inline-block;
				margin-top: 3px;
				width: 170px;
				a{
					font-size: 12px;
					border-bottom: 1px solid @prime-color;
					color: @prime-color;
					&:hover{
						border-bottom-color: transparent;
						text-decoration: none;
					}					
				}
			}
			.cart-href{
				margin-top: 20px;
			}
		}
		.item-reload{
			font-size: 30px;
			color: @prime-color;
			position: absolute;
			right: 22px;
			top: 22px;
			z-index: 2;
			transition: transform .15s;
			&:active{
				transform: rotateZ(20deg);
			}
		}
		&:hover{
			.img-wrap img{
				transform: scale(1.1);
			}
		}
	}
	.jackets{
		width: 630px;
		height: 436px;
	}
	.t-shirts{
		position: relative;
		bottom: 5px;
		width: 525px;
		height: 525px;
	}
	.dark-bg{
		.price{
			color: #fff;
		}
		.item-reload{
			color: #fff;
		}
	}
	.jeans{
		width: 633px;
		height: 525px;
		bottom: 0;
	}
	.shirts{
		width: 437px;
		height: 525px;
	}
	.text-white{
		h2, .price, .price.old,.item-reload{
			color: #fff;
		}
		h2{
			border-bottom-color: #fff;
		}
		.i2-item-bot .prod-name a{
		 	color: #fff;
		 	border-bottom-color: #fff;
		}
		.i2-item-bot .cart-href{
			background-color: #222222;
			&:hover{
				background-color: #000;
			}
		}
	}
	.accessories{
		width: 257px;
		height: 369px;
		display: inline-block;
		vertical-align: bottom;
		.i2-item-wrap{
			padding-top: 15px;
		}
		.i2-item-bot{
			width: 130px;
			bottom: 30px;
			.prod-name{
				width: 125px;
			}
		}
		.cart-href{
			position: absolute;
			bottom: 0;
			right: -65px;
		}
	}
	.shoes{
		width: 473px;
		height: 462px;
	}
	.tags-wrap{
		margin-top: 165px;
		margin-left: 60px;
		float: left;
		h2{
			font-size: 36px;
			color: #000;
			margin-bottom: 25px;
		}
		.tags{
			width: 550px;
			text-align: left;
			margin-bottom: 0;
			margin-left: -5px;
			li{
				margin: 0 5px;
				font-size: 12px;
			}
		}
	}
	.md({
		.i2-wrap{
			padding: 70px 0 60px;
		}
		.left-top{
			width: 440px;
			margin-left: 40px;
			margin-bottom: 30px;
			p{
				font-size: @body-md-fz;
			}
			form{
				input{
					height: 45px;
				}
				button.head-search{
					top: 10px;
				}
			}
		}
		.i2-item{
			.i2-item-wrap{
				padding: 30px 25px;
			}
			h2{
				font-size: 24px;
			}
			.img-wrap{
				img{
					max-width: 100%;
				}
			}
		}
		.jackets{
			width: 90%;
			height: 370px;
		}
		.t-shirts{
			width: 80%;
			height: 460px;
		}
		.jeans{
			width: 90%;
			height: 425px;
		}
		.shirts{
			width: 60%;
			height: 410px;
		}
		.accessories{
			width: 36.5%;
			height: 300px;
			.i2-item-wrap{
				padding-top: 15px;
			}
			.i2-item-bot{
				width: 115px;
				.prod-name{
					width: 115px;
				}
			}
			.cart-href{
				right: -60px;
			}
		}
		.shoes{
			width: 70%;
			height: 380px;
		}
		.tags-wrap{
			margin-top: 62px;
			margin-left: 30px;
		}
	});
	.sm({
		.i2-wrap{
			padding: 40px 0;
		}
		.left-top{
			width: auto;
			padding-right: 40px;
			margin-left: 25px;
			p{
				font-size: @body-sm-fz;
			}
		}
		.i2-item{
			.i2-item-wrap{
				padding: 20px 15px;
			}
			.i2-item-bot{
				bottom: 25px;
				.prod-name{
					a{
						font-size: 11px;
					}
				}
				.cart-href{
					margin-top: 10px;
				}
			}
		}
		.jackets{
			height:293px;
		}
		.t-shirts{
			height: 375px;
		}
		.jeans{
			height: 351px;
			margin-bottom: -1px;
		}
		.shirts{
			height: 338px;
		}
		.accessories{
			width: 36.5%;
			height: 246px;
			.i2-item-wrap{
				padding-top: 10px;
			}
			.i2-item-bot{
				width: 115px;
				bottom: 15px;
				.prod-name{
					width: 115px;
				}
			}
			.cart-href{
				right: -35px;
			}
		}
		.shoes{
			height: 321px;
		}
		.tags-wrap{
			margin-top: 30px;
			margin-left: 25px;
			.tags{
				width: 450px;
				li{
					font-size: 10.5px;
					margin: 0 3px;
				}
			}
		}
	});
	.tb({
		.i2-wrap{
			background: #f8f7f5;
			max-width: 640px;
			margin: 0 auto;
			font-size: 0;
		}
		.left-top{
			text-align: left;
			margin-left: 0;
			max-width: 470px;
		}
		.i2-item{
			display: inline-block;
			width: 320px;
			font-size: @body-sm-fz;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
			text-align: left;
			h2{
				font-size: 22px;
			}
			.item-reload{
				font-size: 22px;
				top: 15px;
				right: 15px;
			}
		}
		.i2-left, .i2-right{
			text-align: center;
			&:after{
				content: "";
				display: block;
				clear: both;
			}
		}
		.accessories{
			width: 202px;
			height: 290px;
		}
		.jeans{
			height: 290px;
			width: 350px;
		}
		.shirts{
			height: 384px;
		}
		.shoes{
			height: 313px;
			vertical-align: top;
		}
		.jackets{
			height: 221px;
			vertical-align: bottom;
			margin-bottom: -1px;
		}
		.t-shirts{
			height: 319px;
			top: 0;
		}
		.tags-wrap{
			max-width: 100%;
			float: left;
			margin-left: 0;
			padding-left: 15px;
			&:before{
				content: "";
				display: block;
				clear: both;
			}
			.tags{
				width: 100%; 
				li{
					margin-bottom: 5px;
					font-size: 12px;
				}
			}
		}
	});
	.xs({
		.container{
			padding: 0;
		}
		.left-top{
			padding: 0 15px;
			p{
				font-size: @body-tb-fz;
			}
		}
		.i2-wrap{
			padding: 20px 0;
			max-width: 320px;
		}
		.i2-item{
			width: 100%;
			max-width: 320px;
			margin-bottom: 15px;
		}
		.jeans{
			height: 265px;
		}
		.tags-wrap{
			margin-top: 10px;
			h2{
				font-size: 24px;
				margin-bottom: 15px;
			}
		}
		.i2-left, .i2-right{
			float: none;
		}
	});
}


.i3{
	padding-top: 50px;
	padding-bottom: 70px;
	.item{
		.item();
		position: relative;
	}
	h2, .tags{
		position: relative;
	}
	.slick-dots{
		text-align: center;
		position: absolute;
		width: 100%;
		bottom: -67px;
		li{
			display: inline-block;
			font-size: 0;
			margin: 7px;
			&.slick-active button{
				background-color: @prime-color;
			}
		}
		button{
			border: none;
			background-color: #000;
			width: 16px;
			height: 16px;
			border-radius: 8px;
		}
	}
	.sm({
		padding: 20px 0 60px;
	});
	.xs({
		padding: 20px 0;
		h2{
			margin-top: 0;
		}

	});
}

.i4{
	margin-top: 75px;
	h2{
		margin: -55px auto 0;
		width: 440px;
		text-align: center;
		background-color: #fff;
	}
	.i4-outline{
		border: 3px solid @prime-color;
	}
	.i4-wrap{
		overflow: hidden;
		padding: 0 108px;
		padding-bottom: 60px;
		margin-top: 64px;
	}
	.i4-item{
		text-align: center;
		padding: 0 30px;
		position: relative;
	}
	img{
		margin-bottom: 20px;
	}
	.head{
		font-family: @font-head;
		font-size: 36px;
		color: @prime-color;
		line-height: 1.2;
		margin: 0 -20px 20px;
	}
	p{
		font-size: @body-fz;
		line-height: 1.5;
	}
	.md({
		.head{	
			font-size: 24px;
		}
		.i4-wrap{
			padding: 0 40px 30px;
			margin-top: 50px;
		}
		.i4-item{
			padding: 0 25px;
		}
		p{
			font-size: @body-md-fz;
		}
	});
	.sm({
		.i4-wrap{
			padding: 0 30px 20px;
		}
		.i4-item{
			padding: 0 15px;
		}
		p{
			font-size: @body-sm-fz - 1;
		}
	});
	.tb({
		.i4-wrap{
			padding: 0 60px 20px;
		}
		.i4-item{
			margin-bottom: 25px;
		}
		h2{
			margin-top: -40px;
			width: 320px;
		}
	});
	.xs({
		margin-top: 40px;
		.i4-wrap{
			padding: 0 15px 20px;
		}
		h2{
			max-width: 250px;
			margin-top: -20px;
		}
		.head{
			font-size: 20px;
			margin-bottom: 10px;
			br{
				display: none;
			}
		}
	});
}

.i5{
	padding: 60px 0;
	.col-md-6{
		padding-right: 85px;
		.small-text();
		line-height: 1.8;
	}
	.md({
		.col-md-6{
			padding-right: 50px;
			+.col-md-6{
				padding-right: 15px;
			}
		}
	});
	.sm({
		.col-md-6{
			padding-right: 30px;
		}
	});
	.tb({
		padding: 25px 0;
		.col-md-6{
			padding-right: 15px;
		}
	});
}

.page-wrapper{
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 50px;
}
.catalog{
	padding-top: 0;
	background-color: #f8f7f5;
	.select-wrap{
		display: block;
		width: 1180px;
		height: 0px;
		margin: 0 auto;
		left: 0;
		right: 0;
		position: absolute;
		.select-left{
			float: left;
			margin-top: -75px;
			margin-left: 10px;
		}
		.select-right{
			span{
				display: inline-block;
				opacity: 0.5;
				float: left;
				line-height: 52px;
			}
			.selectize-input{
				width: 75px;
				float: right;
			}
			width: 160px;
			float: right;
			margin-top: -75px;
			margin-right: 10px;
		}
	}
	.catalog-wrap{
		position: relative;
		width: 1180px;
		margin: 0 auto;
		&:after{
			clear: both;
		}
		.item{
			margin: 0 7.5px 45px;
			clear: right;
		}

	}
	.item-wrap{
		display: inline-block;
		float: left;
	}
	
}
.filter{
	width: 280px;
	margin: 0 7.5px 45px;
	padding: 10px 30px; 
	float: left;
	background-color: #f8f7f5;
	&:after{
		content: " ";
		display: block;
		clear: both;
	}
	p{
		font-size: 14px;
		font-family: @font-medium;
		margin-bottom: 15px;
	}
	.scroll-box{
		padding-bottom: 25px;
		padding-top: 55px;
		border-bottom: 1px solid #dfdedc;
		height: 350px;
		min-width: 220px;
		position: relative;
	}
}
.filter.filter-open + .item-wrap{
	width: 885px;
}
.scroll-wrap{
	position: relative;
	>p{
		position: absolute;
		top: 20px;
		left: 35px;
	}
}
.scrollable.default-skin .scroll-bar .thumb {
	background-color: @prime-color;
	opacity: 1;
}
.scrollable.default-skin .scroll-bar.vertical{
	background-color: #fff;
}
.brand-filter{
	li{
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	a{
		font-size: 14px;
		font-family: @font-light;
		border-bottom: 1px solid #000;
		color: #000;
		&:hover{
			text-decoration: none;
			padding-bottom: 1px;
			border-bottom: none;
		}
	}
}
.size-choose{
	overflow: hidden;	
	padding-bottom: 17px;
	margin-top: 20px;
	border-bottom: 1px solid #dfdedc;
	p{
		padding-left: 15px;
	}
}
.check-wrap{
	label{
		display: block;
		font-weight: normal;
		font-family: @font-light;
		margin-bottom: 13px;
		cursor: pointer;
		&:last-child{
			margin-bottom: 0;
		}
		span{
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-right: 5px;
			vertical-align: sub;
			position: relative;
			&:before{
				content: "";
				display: inline-block;
				font-size: 22px;
				width: 16px;
				height: 16px;
				position: absolute;
				top: -2px;
				left: 0;
				border-radius: 8px;
				background: #fff;
			}
		}
		input[type=checkbox]{
			display: none;
		}
		input[type=checkbox]:checked + span:before{
			background: url(../img/chk.png);
		}
	}
	&.scroll-box{
		padding-bottom: 30px;
	}
}
.range-filter{
	margin-top: 20px;
	padding-bottom: 30px;
	.panel-body{
		padding: 0;
	}
	input{
		width: 98px;
		height: 40px;
		border-radius: 20px;
		border: none;
		padding: 15px;
		text-align: center;
		font-family: @font-light;
	}
	b{
		padding: 0 5px;
	}
	.irs-line{
		background: #fff;
		border: none;
		border-radius: 4px;
		top: 0;
		height: 7px;
	}
	.irs-bar{
		background: @prime-color;
		border: none;
		box-shadow: none;
		top: 0;
		height: 7px;
	}
	.irs{
		height: 7px;
		width: auto;
		margin: 0 0 15px;
	}
	.irs-from, 
	.irs-to,
	.irs-single,
	.irs-min, 
	.irs-max{
		display: none;
	}
	.irs-slider, 
	.irs-slider:hover, 
	.irs-slider:active{
		width: 20px;
		height: 20px;
		background: #000;
		border: none;
		position: absolute;
		top: -6px;
		box-shadow: none;
	}
}

.md({
	.catalog{
		.catalog-wrap{
			width: 952px;
		}
		.select-wrap{
			width: 952px;
		}
	};
	.filter{
		width: 223px;
		font-size: 13px;
		padding: 10px 20px;
		.scroll-box{
			width: 183px;
			min-width: 183px;
		}
	}
	.brand-filter a{
		font-size: 13px;
	}
	.filter.filter-open + .item-wrap{
		width: 714px;
	}
	.range-filter input{
		width: 80px;
	}
});

.sm({
	.catalog{
		.catalog-wrap{
			width: 714px;
			.item{
				margin-bottom: 25px;
			}
		}
		.select-wrap{
			width: 714px;
			position: static;
			height: auto;
			margin-top: -15px;
			margin-bottom: 15px;
			.select-right, .select-left{
				margin-top: 0;
			}
			&:after{
				content: " ";
				display: block;
				clear: both;
			}
		}
	}

	.filter.filter-open + .item-wrap{
		width: 476px;
	}
});

.tb({
	.filter{
		width: 100%;
		max-width: 699px;
		margin: 0 auto;
		float: none;
		.scroll-box{
			width: 223px;
		}
		text-align: center;
	}
	.size-choose{
		width: 223px;
		display: inline-block;
		text-align: left;
		height: 330px;
		margin: 20px 15px 0;
		label{
			margin-bottom: 15px;
		}
	}
	.scroll-wrap{
		display: inline-block;
		vertical-align: top;
		text-align: left;
		margin: 0 15px;
	}
	.range-filter{
		width: 223px;
		text-align: left;
		margin-top: 25px;
		display: inline-block;
		input{
			width: 98px;
		}
	}
	.filter.filter-open + .item-wrap{
		width: 714px;
		margin-top: 20px;
	}
});

.xs({
	.catalog{
		.catalog-wrap{
			width: auto;
			font-size: 0;
			text-align: center;
			.item{
				float: none;
				display: inline-block;
				vertical-align: top;
				font-size: @body-tb-fz;
				text-align: left;
				margin-bottom: 10px;
			}
		}
		.select-wrap{
			width: auto;
			.select-right {
				width: auto;
				.selectize-input{
					width: 65px;
				}
				span{
					display: block;
					float: none;
					text-align: right;
					font-size: 13px;
					line-height: 20px;
					margin-bottom: 5px;
				}
			}
			.select-left{
				padding-top: 25px;
			}
		}
	}
	.filter.filter-open + .item-wrap{
		width: auto;
	}
	.scroll-wrap, .size-choose{
		margin-right: 0;
		margin-left: 0;
	}
	.page-wrapper{
		margin-left: -5px;
		margin-right: -5px;
		padding: 20px 5px;
	}
});







.cart-page{
	padding-top: 0;
	background-color: #f8f7f5;
	padding-bottom: 70px;
	.cart-wrap{
		margin-left: 185px;
		margin-top: 40px;
		position: relative;
	}
	.buttons{
		margin-top: 35px;
	}
	.slick-mini, .slick-prime{
		display: inline-block;
		max-width: 806px;
		vertical-align: top;
		font-size: 0;
	}
	.slick-mini{
		margin-right: -4px;
		width: 135px;
		.slick-slide{
			float: none;
			cursor: pointer;
		}
	}
	.slick-list{
		font-size: 0px;
		padding: 0 !important;
	}
	.slick-track{
		display: inline-block;
		// width: auto !important;
		float: left;
		padding: 0;
		.slick-slide{
			font-size: 0px;
			border: none;
			outline: none;
		}
	}
	.prod-about{
		position: absolute;
		top: 90px;
		right: 40px;
		width: 350px;
		padding: 40px 25px 40px 55px;
		background-color: #fff; 
		-webkit-box-shadow: 0px 0px 80px 2px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 80px 2px rgba(0,0,0,0.25);
		box-shadow: 0px 0px 80px 2px rgba(0,0,0,0.25);
		.price{
			margin: 15px 0 20px;
			font-size: 24px;
			display: inline-block;
			&.old{
				margin-left: 5px;
				margin-right: -10px;
			}
		}
	}
	.prod-head{
		span{
			font-size: 14px;
			opacity: 0.5;
			display: block;
		}
		margin-bottom: 0;
	}
	
	.select-size{
		margin: 12px 0 10px -15px;
		.selectize-control{
			display: inline-block;
			vertical-align: top;
			margin-right: 7px;
		}
	}
	.proportions{
		font-size: 17px;
		margin-left: -15px;
		font-family: @font-medium;
		img{
			float: left;
			margin-right: 15px;
		}
		input{
			border: none;
			width: 52px;
			background-color: #f1f1f1;
			height: 32px;
			border-radius: 16px;
			text-align: center;
			margin-left: 23px;
			&:focus{
				outline: none;
			}
		}
		input[type='number'] {
		    -moz-appearance:textfield;
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		    -webkit-appearance: none;
		}
		.neck{
			padding-top: 35px;
		}
		.breast{
			padding-top: 25px;
		}
		.mid, .bot{
			padding-top: 6px;
		}
	}
	.hint{
		padding-top: 40px;
		background-image: url(../img/hint-dir.png);
		background-repeat: no-repeat;
		background-position: 170px 12px;
		font-family: @font;
		display: block;
		font-size: 12px;
		line-height: 1.3;
		a{
			opacity: 60%;
			display: inline-block;
			color: #000;
			opacity: 0.6;
			margin-top: 10px;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.prod-spec{
		margin-top: 60px;
	}
	.also{
		h2{
			margin: 55px 0 50px;
		}
	}
	.item{
		.item();
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.md({
		.cart-wrap{
			margin-left: 120px;
		}
		.slick-mini, .slick-prime{
			max-width: 625px;
		}
		.slick-prime img{
			max-width: 625px;
		}
		.buttons{
			margin-top: 20px;
		}
		.prod-about{
			top: 75px;
			right: 25px;
			width: 300px;
			padding: 20px 15px 20px 45px;
			.price{
				font-size: 18px;
				margin: 10px 0 15px;
			}
		}
		.slick-mini{
			width: 105px;
			img{
				max-width: 105px;
			}
		}
		.proportions{
			font-size: 15px;
			>img{
				width: 95px;
			}
			.neck{
				padding-top: 29px;
			}
			input{
				height: 28px;
			}
		}
		.prod-spec{
			margin-top: 25px;
		}
		.selectize-control .selectize-input{
			width: 170px;
		}
	});
	.sm({
		.cart-wrap{
			margin-left: 25px;
		}
		.slick-mini, .slick-prime{
			max-width: 555px;
		}
		.slick-prime img{
			max-width: 555px;
		}
		.buttons{
			margin-top: -70px;
		}
		.cart-href{
			width: 42px;
			height: 42px;
			background-position-y: 7px;
		}
		.prod-about{
			top: 25px;
			width: 280px;
			padding: 20px 15px 20px 45px;
			.price{
				font-size: 18px;
				margin: 10px 0 15px;
			}
		}
		.slick-mini{
			width: 90px;
			img{
				max-width: 90px;
			}
		}
		.prod-spec li{
			margin-bottom: 5px;
		}
		.also{
			h2{
				margin: 25px 0;
			}
		}
	});
	.tb({
		.cart-wrap{
			margin-top: 0;
		}
		.prod-about{
			width: 695px;
			position: relative;
			min-height: 360px;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			float: right;
			padding-left: 30px;
			margin-top: -25px;
			margin-bottom: -25px;
			form{
				margin-top: 25px;
			}
		}
		.slider-wrap{
			margin-top: 30px;
		}
		.slick-mini, .slick-prime{
			max-width: 580px;
		}
		.slick-prime img{
			max-width: 580px;
		}
		.proportions{
			position: absolute;
			top: 20px;
			right: 15px;
			width: 250px;
			height: 320px;
		}
		.prod-spec{
			float: left;
			width: 250px;
			li span{
				padding: 0;
			}
		}
		.buttons{
			margin-top: -55px;
		}
		.select-size{
			margin: 5px 0;
		}
	});
	.xs({
		.buttons{
			margin-top: 0;
		}
		.prod-about{
			width: auto;
			display: inline-block;
			float: none;
			position: static;
			margin-top: 0;
			text-align: left;
			form{
				margin-top: 0;
			}
		}
		.proportions{
			position: static;
			margin-left: 0;
		}
		.slick-mini, .slick-prime{
			max-width: 240px;
		}
		.slick-prime img{
			max-width: 240px;
		}
		.cart-wrap{
			margin-left: -15px;
			margin-right: -15px;
			font-size: 0;
			text-align: center;
		}
		.slick-mini{
			width: 80px;
			img{
				width: 80px;
			}
		}
		.also .item{
			margin-left: 0;
			margin-bottom: 15px;
		}
	});
}

.basket{	
	padding-top: 0;
	background-color: #f8f7f5;
	.cat-top{
		margin-bottom: 50px;
	}
	.page-wrapper{
		padding-bottom: 20px;
		margin-bottom: 63px;
		&:after{
			content: "";
			display: block;
			clear: both;
		}
	}	
	.basket-items{
		float: left;
		text-align: left;
		width: 655px;
		margin-left: 205px;
	}
	.basket-item{
		height: 175px;
		border-bottom: 1px solid #e5e5e5;
		display: table;
		position: relative;
		transition: transform 0.6s;
		transform-origin: left top;
		transform: scale(1);
		.item-img{
			margin-right: 65px;
		}
		&:last-child{
			border-bottom: none;
		}
	}
	.item-wrap{
		display: table-cell;
		vertical-align: middle;
		width: 655px;
	}
	.text-wrap, .item-right{
		display: inline-block;
		vertical-align: middle;
	}
	.text-wrap a{
		display: block;
		max-width: 250px;
		font-family: @font-medium;
		font-size: 12px;
		color: @prime-color;
		text-decoration: underline;
		margin-bottom: 10px;
		&:hover{
			text-decoration: none;
		}
	}
	.item-right{
		float: right;
		margin-top: 35px;
		input{
			.input-prime(107px);
			text-align: center;
		}
		.quant{
			position: relative;
			span{
				cursor: pointer;
				position: absolute;
			}
			display: inline-block;
			margin-right: 15px;
		}
		.count-plus{
			top: 20px;
			right: 15px;
		}
		.count-minus{
			top: 19px;
			left: 15px;
		}
		button{
			background: none;
			border: none;
			width: 50px;
			height: 50px;
			padding: 0;
		}
	}
}
.scale-hide{
	transform: scale(0) !important;
}
.basket-right{
	.head{
		text-align: center;
		font-size: 23px;
		font-family: @font-medium;
		margin: 0 0 25px;
	}
	font-family: @font-light;
	float: right;
	margin: 15px 105px -83px 0;
	width: 350px;
	padding: 40px 45px;
	background-color: #fff; 
	-webkit-box-shadow: 0px 0px 80px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 80px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 80px 2px rgba(0,0,0,0.25);
	input{
		.input-prime(100%);
		padding: 0 20px;
		font-family: @font-light;
	}
	label{
		text-align: left;
		margin-bottom: 20px;
	}
	.label-head{
		display: inline-block;
		padding-left: 20px;
		margin-bottom: 10px;
		font-weight: bold;
	}
	.basket-submit{
		.input-prime(100%);
		background-color: @prime-color;
		text-align: left;
		color: #fff;
		padding: 0 20px;
		position: relative;
		margin-top: 10px;
		&:after{
			content: url(../img/basket-submit-ico.png);
			position: absolute;
			top: 13px;
			right: 20px;
		}
	}
	.select-ship .selectize-input,
	.select-payment .selectize-input{
		font-weight: bold;
		border: none;
		padding: 0 20px;
		width: 100%;
		background-color: #f8f7f5 !important;
		box-shadow: none;
		.item{
			height: 100%;
			line-height: 52px;
		}
	}
	.select-ship, .select-payment{
		margin-bottom: 15px;
	}
}

.md({
	.basket{
		.basket-items{
			margin-left: 60px;
			width: 580px;
		}
		.basket-item{
			.item-img{
				margin-right: 40px;
			}
			.text-wrap{
				max-width: 230px;
				a{
					font-size: 11px;
				}
			}
		}
		.item-wrap{
			width: 580px;
		}
	};

});
.sm({
	.basket{
		.basket-items{
			margin-left: 30px;
			width: 520px;
		}
		.basket-item{
			.item-img{
				margin-right: 40px;
			}
			.text-wrap{
				max-width: 200px;
				a{
					font-size: 11px;
				}
			}
		}		
		.item-wrap{
			width: 520px;
		}
	}
	.basket-right{
		max-width: 320px;
		width: auto;
		margin-right: 30px;
		padding: 40px 30px;
	}

});
.tb({
	.basket{
		.basket-items{
			margin-left: 0;
			padding: 0 30px;
			width: 100%;
			float: none;
		}
		.basket-item{
			width: 100%;
			.item-img{
				margin-right: 40px;
			}
			.text-wrap{
				max-width: 250px;
				a{
					font-size: 11px;
				}
			}
		}
		.item-wrap{
			width: 100%;
		}
	}
	.basket-right{
		margin-right: 0px;
		float: none;
		margin: 20px auto -83px;
	}
});
.xs({
	.basket{
		.item-right{
			margin-top: 30px;
			.quant{
				margin-right: 5px;
			}
			input{
				width: 98px;
			}
		}
		.basket-items{
			padding: 0 5px;
		}
		.basket-item{
			.item-img{
				margin-right: 15px;
				margin-bottom: 20px;
			}
			.text-wrap{
				text-align: center;
				display: block;
				max-width: 100%;
				a{
					max-width: 100%;
				}
			}
			&:last-child{
				border-bottom: 1px solid #e5e5e5;
			}	
		}
		.item-wrap{
			padding: 20px 5px;
			text-align: center;
			max-width: 320px;
			display: block;
			margin: 0 auto;
		}
		.cat-top{
			margin-bottom: 15px;
		}
		
	}
	.basket-right{
		margin-bottom: 0;
		box-shadow: none;
		padding: 30px 15px;
	}
});

/*text*/
.text-page{
	background-color: #f8f7f5;
	padding-bottom: 63px;
	.page-wrapper{
		padding-bottom: 0;
	}
	*{
		background-repeat: no-repeat;
	}
}
.text-cont{
	max-width: 1050px;
	margin: 0 auto;
}
.cat-top h2{
	margin-bottom: 45px;
}
.sample-bold{
	font-size: @text-page-bold;
	font-family: @font-head;
	margin-bottom: 50px;
}
.sample-text{
	text-align: center;
	max-width: 460px;
	line-height: 1.7;
	font-size: @text-page-normal;
}
.i4.text-i4{
	margin-top: 0;
	.i4-wrap{
		margin-top: 85px;
	}
}
.text-page-block{
	padding: 95px 155px 95px 170px;
	color: #fff;
	font-size: @text-page-block-fz;
	line-height: 1.9;
	background-position: center center;
}
.block-text{
	padding-left: 115px;
	background-position: 0 10px;
}

@text-page-block-fz: 14px;
@text-page-md-bold: 18px;
@text-page-md-normal: 14px;
@text-page-block-md-fz: 13px;
@text-page-sm-bold: 16px;
@text-page-sm-normal: 13px;
@text-page-block-sm-fz: 12px;
@text-page-xs-bold: 14px;
@text-page-xs-normal: 11px;
@text-page-block-xs-fz: 10px;
.md({
	.text-cont{
		max-width: 950px;
	}
	.sample-bold{
		font-size: @text-page-md-bold;
	}
	.sample-text{
		font-size: @text-page-md-normal;
		max-width: 430px;
	}
	.text-page-block{
		padding: 85px 120px;
		font-size: @text-page-block-md-fz;
	}
});



.sm({
	.cat-top h2{
		margin-bottom: 20px;
	}
	.text-cont{
		max-width: 850px;
	}
	.sample-bold{
		font-size: @text-page-sm-bold;
		margin-bottom: 25px;
	}
	.sample-text{
		font-size: @text-page-sm-normal;
		max-width: 430px;
	}
	.text-page-block{
		padding: 65px 80px;
		font-size: @text-page-block-sm-fz;
	}
	.text-page{
		.i4 .i4-wrap{
			margin-top: 40px;
		}
	}
});

.tb({
	.text-page{
		padding-bottom: 35px;
	}
	.text-cont{
		max-width: 100%;
		padding: 0 25px;
	}
	.sample-bold{
		font-size: @text-page-xs-bold;
	}
	.sample-text{
		font-size: @text-page-xs-normal;
		max-width: 290px;
	}
	.text-page-block{
		padding: 50px;
		font-size: @text-page-block-xs-fz;
	}
});

.xs({
	.text-cont{
		padding: 0 15px;
	}
	.sample-text{
		font-size: @text-page-xs-normal;
		max-width: 500px;
		margin: 0 auto;
	}
	.text-page-block{
		padding: 20px;
		line-height: 1.5;
	}
	.block-text{
		padding-top: 80px;
		background-size: 50px;
		padding-left: 0;
		background-position: center top;
	}
});